.modal {
  justify-content: space-between;
  .test {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
    .previewAvatarSection {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
    }
    .avatarStyle {
      align-self: flex-start;
      height: 100%;
      width: 75%;
      //overflow: scroll;
    }
  }
  .itemList {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 5px;
    li {
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 5px;
      transition: border-color 0.1s ease;
      &.selected, &:hover {
        border: 2px solid #747bff;
        border-radius: 5px;
      }

    }
  }
  .previewAvatar {
    margin: auto;
  }
  .participantNameSection {
    width: 200px;
    max-width: 90%;
    margin: auto;
  }
  .tabPanelTitle {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 800px) {
.modal {
  height: 80% !important;
  .test {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .avatarStyle {
    width: 100% !important;
  }
  .previewAvatarSection {
    width: 100% !important;
  }
}
}
@media (max-width: 1200px) {
  .modal {
    width: 80% !important;
  }
}


@media (max-width: 600px) {
  .addParticipantModal .modal {
    width: 85% !important;
    height: 90% !important;
    padding: 15px;
  }
}
