.modal {
  .setting {
    display: flex;
    gap: 5px;
    align-items: center;
    .selectPointsStyle {
      padding: 7px;
      font-size: 16px;
      font-family: 'Gordita', sans-serif;
    }
  }
}
