@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

button {
  padding: 0 !important;
  position: relative;

  .hideChildren {
    visibility: hidden;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1em;
    height: 1em;

    > * {
      -moz-animation: rotating 2s linear infinite;
      -ms-animation: rotating 2s linear infinite;
      -o-animation: rotating 2s linear infinite;
      animation: rotating 2s linear infinite;
      width: 1em;
      height: 1em;
    }
  }

}


.first, .second, .red {
  display: flex;
  padding: 10px 15px !important;

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
}

.second {
  background-color: unset;
  color: #18181b;
  border: 1px solid #e5e7eb;

  &:not([disabled]):hover {
    background-color: #e5e7eb;
  }
}

.first {
  background-color: #18181b;
  color: white;
}

.red {
  background-color: #f45858;
  color: white;

  &:not([disabled]):hover {
    background-color: white;
    color: #f45858;
    border: 1px solid #f45858;
  }

}
