button {
  padding: 0 !important;
}


.first, .second, .red {
  display: flex;
  padding: 10px 15px !important;

  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
}

.second {
  background-color: unset;
  color: #18181b;
  border: 1px solid #e5e7eb;

  &:not([disabled]):hover {
    background-color: #e5e7eb;
  }
}

.first {
  background-color: #18181b;
  color: white;
}

.red {
  background-color: #f45858;
  color: white;
  &:not([disabled]):hover {
    background-color: white;
    color: #f45858;
    border: 1px solid #f45858;
  }

}
