.second {
  background-color: unset;
  color: #18181b;
  border: 1px solid #e5e7eb;
  &:hover {
    background-color: #e5e7eb;
  }
}

.first {
  background-color: #18181b;
  color: white;
}

.red {
  background-color: #f45858;
  color: white;
  &:hover {
    background-color: white;
    color: #f45858;
    border: 1px solid #f45858;
  }
}