.boardCard {
  border: 1px solid #e5e7eb;
  border-radius: calc(0.5rem - 2px);
  padding: 25px 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  h3 {
    margin: 0;
  }

  .leftCard {
    display: flex;
    flex-direction: column;
    gap: 6px;
    p {
      margin: 0;
    }
  }

  .rightCard {
    display: flex;
    gap: 10px;
    button {
      height: fit-content;
      font-size: 20px;
      padding: 10px 10px 8px 10px;
    }
  }

}