.boardList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  li {
    border: 1px solid #e5e7eb;
    border-radius: calc(0.5rem - 2px);
    padding: 25px 20px;
  }
}